.w005{width:5%;}
.w010{width:10%;}
.w015{width:15%;}
.w020{width:20%;}
.w025{width:25%;}
.w030{width:30%;}
.w035{width:35%;}
.w040{width:40%;}
.w050{width:50%;}
.w060{width:60%;}
.w070{width:70%;}
.w080{width:80%;}
.w090{width:90%;}
.w000{width:100%;}
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w160{width:160px;}
.w170{width:170px;}
.w180{width:180px;}
.w190{width:190px;}
.w200{width:200px;}
.w210{width:210px;}
.w220{width:220px;}
.w230{width:230px;}
.w240{width:240px;}
.w250{width:250px;}
.w260{width:260px;}
.w270{width:270px;}
.w280{width:280px;}
.w290{width:290px;}
.w300{width:300px;}
.w310{width:310px;}
.w320{width:320px;}
.w330{width:330px;}
.w340{width:340px;}
.w350{width:350px;}
.w360{width:360px;}
.w370{width:370px;}
.w380{width:380px;}
.w390{width:390px;}
.w400{width:400px;}

.h005{height:5%;}
.h010{height:10%;}
.h015{height:15%;}
.h020{height:20%;}
.h025{height:25%;}
.h030{height:30%;}
.h035{height:35%;}
.h040{height:40%;}
.h050{height:50%;}
.h060{height:60%;}
.h070{height:70%;}
.h080{height:80%;}
.h090{height:90%;}
.h000{height:100%;}
.h10{height:10px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.h60{height:60px;}
.h70{height:70px;}
.h80{height:80px;}
.h90{height:90px;}
.h100{height:100px;}
.h110{height:110px;}
.h120{height:120px;}
.h130{height:130px;}
.h140{height:140px;}
.h150{height:150px;}
.h160{height:160px;}
.h170{height:170px;}
.h180{height:180px;}
.h190{height:190px;}
.h200{height:200px;}
.h210{height:210px;}
.h220{height:220px;}
.h230{height:230px;}
.h240{height:240px;}
.h250{height:250px;}
.h260{height:260px;}
.h270{height:270px;}
.h280{height:280px;}
.h290{height:290px;}
.h300{height:300px;}
.h310{height:310px;}
.h320{height:320px;}
.h330{height:330px;}
.h340{height:340px;}
.h350{height:350px;}
.h360{height:360px;}
.h370{height:370px;}
.h380{height:380px;}
.h390{height:390px;}
.h400{height:400px;}

.cpt{cursor:pointer;}
.cptW{cursor:pointer;}
.cptB{cursor:pointer;color:blue}
.cptW:hover{background:#B7E3DE;text-decoration:underline;}

.clearfix{display:block}
input{outline:none;}
select{outline:none;}

.linear{ background:url(../images/back/back_index_bg.png) top repeat-x;padding:0px;margin:0px;} 
.in_body{width:450px;height:340px;background:#DFFBEF;position:absolute;top:50%;left:50%;border:4px solid white;border-radius:12px;margin-left:-225px;margin-top:-170px;}
.login_back1{width:100%;height:70px;background:#9E9E9E;border-radius: 8px 8px 0px 0px;font-size:40px;text-align:center;font-weight:bold;line-height:70px;color:white;font-family:'Microsoft YaHei';text-shadow: #7BA2D1 0 2px 0;}
.login_back2{width:100%;height:70px;font-size:20px;line-height:70px;text-align:center;font-family:'Microsoft YaHei';}
.login_back3{width:100%;height:70px;font-size:20px;line-height:70px;text-align:center;font-family:'Microsoft YaHei';}
.login_back4{width:100%;height:80px;font-size:25px;line-height:80px;text-align:center;font-family:'Microsoft YaHei';margin-top:20px;}
.login_back5{width:100%;height:70px;font-size:20px;line-height:70px;text-align:center;font-family:'Microsoft YaHei';}
.login_back2>input{width:250px;height:30px;border:1px solid grey;padding-left:10px;}
.login_back3>input{width:250px;height:30px;border:1px solid grey;padding-left:10px;}
.login_back4>input{width:150px;height:40px;background:#FEDC96;border:2px solid white;border-radius:5px;text-align:center;font-size:25px;font-family:'幼圆';color:#9D5B00;font-weight:bold;}
.back_index1{position:absolute;top:0px;left:0px;width:100%;height:100px;background:#5EA682;font-size:40px;font-family:'Microsoft YaHei';line-height:100px;color:white;font-weight:bold;text-align:center;}
.back_index2{width:10%;height:1000px;background:#BEF0D7;float:left;position:absolute;top:100px;left:0px;} 
.back_index3{width:90%;height:1000px;float:left;position:absolute;top:100px;left:10%;}
.back_index4{margin-top: 20px;font-size: 25px;font-weight: 500;height: 30px;line-height: 30px;    position: absolute;top: 0px;left: 50px;text-align:left;}
.back_index5{    margin-top: 50px;font-size: 25px;font-weight: 500;height: 30px;float: left;line-height: 30px;}

.back_member{height:100%;margin-left:20px;margin-top:20px;border-radius:10px;}
.back_member_head{display:block;height:42px;border-left:1px solid black}
.back_member_head1{float:left;height:40px;font-size:18px;font-family:'Microsoft YaHei';color:white;line-height:40px;text-align:center;border:1px solid black;border-left:0px;background:grey;}
.back_member_body{display:block;height:41px;border-left:1px solid black}
.back_member_body1{float:left;height:40px;line-height:40px;text-align:center;border-right:1px solid black;border-bottom:1px solid black;overflow:hidden;    white-space: nowrap;    text-overflow: ellipsis;}

.back_edit{    height: 100%;margin-left: 20px;margin-top: 20px;border-radius: 10px;width: 600px;}
.back_edit_title{width:600px;height:40px;line-height:40px;font-family:'Microsoft YaHei';font-size:25px;color:#2DA5CB}
.back_edit_line{height:30px;margin:5px;}
.back_edit_div{height:30px;float:left;margin-right:5px;}
.back_edit_label{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;float:left;border:1px solid black;border-right:0px;width:250px;height:100%;text-align:center;font-family:'Microsoft YaHei';font-size:16px;line-height:30px;}
.back_edit_value{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;float:left;border:1px solid black;width:320px;height:100%;text-align:center;font-family:'Microsoft YaHei';font-size:16px;line-height:30px;}
.back_edit_value>input[type="text"],.back_edit_value>input[type="password"] {width:320px;height:28px;border:0px;;text-align:center;font-family:'Microsoft YaHei';font-size:14px;line-height:30px;}
.back_edit_submit{    height: 50px;line-height:30px;margin-top:20px;text-align:center;}
.back_edit_submit>input[type="button"],.back_edit_submit>input[type="submit"]{    width: 200px;height: 30px;background: orange;border: 1px solid orange;border-radius: 10px;color: white;font-family: 'Microsoft YaHei';font-size: 18px;line-height: 27px;cursor: pointer;}

.back_form{    height: 100%;margin-left: 20px;margin-top: 20px;border-radius: 10px;}
.back_form_title{width:600px;height:40px;line-height:40px;font-family:'Microsoft YaHei';font-size:25px;color:#2DA5CB}
.back_form_line{height:30px;margin:5px;}
.back_form_div{height:30px;float:left;margin-right:5px;}
.back_form_label{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;float:left;border:1px solid black;border-right:0px;height:100%;text-align:center;font-family:'Microsoft YaHei';font-size:16px;line-height:30px;}
.back_form_value{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;float:left;border:1px solid black;height:100%;text-align:center;font-family:'Microsoft YaHei';font-size:16px;line-height:30px;    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.back_form_value>input[type="text"],.back_edit_value>input[type="password"] {width:320px;height:28px;border:0px;;text-align:center;font-family:'Microsoft YaHei';font-size:14px;line-height:30px;}
.back_form_submit{    height: 50px;line-height:30px;margin-top:20px;text-align:center;}
.back_form_submit>input[type="button"],.back_edit_submit>input[type="submit"]{    width: 200px;height: 30px;background: orange;border: 1px solid orange;border-radius: 10px;color: white;font-family: 'Microsoft YaHei';font-size: 18px;line-height: 27px;cursor: pointer;}

.back_add{    height: 100%;margin-left: 20px;margin-top: 20px;border-radius: 10px;width: 600px;}
.back_add_title{width:600px;height:40px;line-height:40px;font-family:'Microsoft YaHei';font-size:25px;color:#2DA5CB}
.back_add_line{height:30px;margin:5px;}
.back_add_div{height:30px;float:left;margin-right:5px;}
.back_add_label{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;float:left;border:1px solid black;border-right:0px;width:250px;height:100%;text-align:center;font-family:'Microsoft YaHei';font-size:16px;line-height:30px;}
.back_add_value{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;float:left;border:1px solid black;width:320px;height:100%;text-align:center;font-family:'Microsoft YaHei';font-size:16px;line-height:30px;}
.back_add_value>input[type="text"],.back_add_value>input[type="password"] {width:320px;height:28px;border:0px;;text-align:center;font-family:'Microsoft YaHei';font-size:14px;line-height:30px;}
.back_add_value>select {width:320px;height:30px;border:0px;;text-align:center;font-family:'Microsoft YaHei';font-size:14px;line-height:30px;}
.back_add_submit{    height: 50px;line-height:30px;margin-top:20px;text-align:center;}
.back_add_submit>input[type="button"],.back_add_submit>input[type="submit"]{    width: 200px;height: 30px;background: orange;border: 1px solid orange;border-radius: 10px;color: white;font-family: 'Microsoft YaHei';font-size: 18px;line-height: 27px;cursor: pointer;}

.index_ul{list-style: none;width: 100%; height: 100%;padding: 0px; margin: 0px;}
.index_system_ul{display:none;list-style:none;    width: 100%;padding: 0px;font-size: 18px;}
.index_system_ul>li{    text-align: right;}
.index_system_li_bg{background: #D5F6E6;}
.index_system_ul>li>a{    text-decoration: none;margin-right: 20px;color: #14436B;}
.index_system{   line-height: 40px;text-align: center;font-family: 'Microsoft YaHei';font-size: 20px;color: #14436B;border-bottom:1px solid white;}
.index_system_menu{    display: block;width: 100%;height: 40px; background: #9CB9AF;text-decoration: none;cursor: pointer;}
.Bg9CB9AF{background:#9CB9AF;}
.Bg86AEA0{background:#6C8B80;}

.back_condition_div{height: 40px;margin-left: 20px;margin-top: 20px;border-radius: 10px;line-height: 40px;font-family: 'Microsoft YaHei';font-size: 14px;}
.back_condition_div select{    height: 27px;width: 150px;text-align: center; border: 1px solid grey;line-height: 25px;}
.back_condition_div input[type="text"],.back_condition_div input[type="password"]{    width: 150px;height: 23px;line-height: 23px;border: 1px solid grey;padding-left: 5px;text-align: center;color: black;}
.back_condition_div button,.back_condition_div input[type="submit"],.back_condition_div input[type="button"]{height: 27px;line-height: 23px;border: 1px solid grey; background: white;cursor: pointer;padding-left:10px;padding-right:10px;}
 